.agradecimientos {
  width: 100%;
  padding: 40px 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuDesplegable {
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;

  background-color: lightgray;
  font-size: 16px;
}

.menu-btn {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.menu-btn:hover {
  background: #e9e9e9; 
}

.menu-content {
  padding: 15px;
}

.menu-content li {

    padding: 15px;
    display: inline-block;
}
