.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 5%;

  h1 {
    position: relative;
    text-align: center;
    font-size: var(--fs-800);
    padding-bottom: 4%;
  }
}

.areas-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex: 1;

  .titulos {
    color: var(--primary--clr);
    font-size: var(--fs-700);
  }

  p {
    font-size: var(--fs-500);
  }
}

.icon-container {
  background: var(--primary--clr);
  border: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 150px;
  height: 150px;
  color: white;
}
