.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 5%;

  h2 {
    position: relative;
    text-align: center;
    font-size: var(--fs-600);
    padding-bottom: 4%;
  }
}

.areas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex: 1;
  
    .titulos {
      color: var(--primary--clr);
      font-size: var(--fs-400);
    }
  
    p {
      font-size: var(--fs-300);
      max-width: 600px;
    }
  }
}


.icon-container {
  background: var(--primary--clr);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 70px;
    height: 70px;
    color: white;
  }
}

hr {
  margin-top: 50px;
  width: 80%;
}

@media (min-width: 950px) {
  .areas{
    h2{
      font-size: var(--fs-600);
    }
  }

  .areas-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;

    .tarjeta {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      justify-items: center;

      .titulos {
      font-size: var(--fs-500);
    }
  
    p {
      font-size: var(--fs-400);
    }
    }
  }
}
