.cronograma {
  width: 100%;
  padding: 0 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  margin-bottom: 10px;
}

.menuDesplegable {
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  background-color: lightgray;
}

.menu-btn {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: var(--fs-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn:hover {
  background: #e9e9e9;
}

.menu-content {
  padding: 15px;
}

.menu-content li {
  padding: 15px;
  display: inline-block;
}

@media (min-width: 600px) and (max-width: 1023px){
  .cronograma h2{
    font-size: var(--fs-400);
  }
}