.empresas {
  position: relative;
  color: var(--text-clr);
  text-align: center;
  z-index: 0;
  padding-block: 50px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:before {
    background-image: url("../assets/Foto1.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  h1 {
    font-size: var(--fs-800);
  }
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  justify-content: center;
}

.tarjetas {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 20px;
  padding: 10px;
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  h2 {
    color: var(--primary--clr);
  }

  p {
    color: black;
  }

  .precio {
    color: white;
    background: var(--primary--clr);
    border: none;
    border-radius: 20px;
    padding: 10px;

  }
}
