.empresas {
  position: relative;
  color: var(--text-clr);
  text-align: center;
  z-index: 0;
  padding-block: 50px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:before {
    background-image: url("../assets/Foto1.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  h2 {
    font-size: var(--fs-200);
  }
}

.title-with-bar {
  position: relative;
  padding-left: 18px; /* espacio para la barra */
  font-weight: 600;
  display: inline-block;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 5%;
  justify-content: center;
}

.tarjetas {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  justify-items: center;
  gap: 20px;
  padding: 10px;
  max-width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  h2 {
    color: var(--primary--clr);
    font-size: var(--fs-700);
    font-weight: 300;
  }

  p {
    color: black;
    font-size: var(--fs-200);
  }

  .precio {
    color: white;
    background: var(--primary--clr);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: var(--fs-300);

    &:hover {
      background-color: var(--primary--clr-o);
    }
  }
}
