.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
}

.footer-logo {
  width: 120px;
  height: auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
}
