.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.footer .footer-head {
  width: 100%;
  display: flex;
}

.footer .footer-head img {
  width: 100%;
  align-items: end;
}

.footer-end {
  width: 100%;
  background-color: black;
  padding: 5%;
}

.footer-logo {
  width: 120px;
  height: auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
}
