.formulario {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separadorMed {
  width: 90%;
  margin-bottom: 1vh;
}

.date-price {
  width: 90%;
  background-color: lightgray;
  font-size: var(--fs-200);
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  border-radius: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgr {
  display: none;
}

.info-form {
  text-align: center;
  margin-bottom: 2%;
  padding: 0 2vh;
  font-size: var(--fs-200);
}

.info-form h2 {
  padding: 0;
  margin-bottom: 2%;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 420px;
  background: lightgray;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.form-container h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: var(--fs-200);
  color: black;
}

.form-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid rgb(201, 199, 199);
  background: rgb(201, 199, 199);
  font-size: var(--fs-200);
  transition: 0.2s;
}

.form-group input:focus {
  border-color: var(--primary--clr);
  outline: none;
  background: white;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: var(--primary--clr);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-200);
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar:hover {
  background: #962e22;
}

hr {
  margin: 3vh;
  width: 80%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .date-price {
    width: 43%;
  }
  .info-form h2 {
    font-size: var(--fs-400);
  }

  .form-section {
    display: flex;
    flex-direction: row;
  }

  .backgr {
    width: 50px;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .formulario {
    padding: 0 0;
  }

  .separadorMed {
    width: 40%;
  }

  .date-price {
    width: 40%;
    font-size: var(--fs-300);
    padding: 10px;
  }

  .form-section {
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
  }

  .image-with-logo {
    width: 70;
  }

  .backgr {
    display: block;
    width: 550px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
  }

  .info-form {
    width: 45%;
    font-size: var(--fs-300);
    padding: 0;
    text-align: center;
  }

  .info-form h2 {
    font-size: var(--fs-600);
  }

  .form-container {
    max-width: 500px;
    padding: 40px;
  }

  .form-group label,
  .form-group input,
  .btn-enviar {
    font-size: var(--fs-300);
  }

  hr {
    width: 40%;
  }
}
