.formulario {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separadorMed {
  width: 90%;
  margin-bottom: 1vh;
}

.date-price {
  width: 90%;
  background-color: lightgray;
  font-size: var(--fs-200);
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  border-radius: 10px;
}

.info-form {
  text-align: center;
  margin-bottom: 2%;
  padding: 0 2vh;
  font-size: var(--fs-200);
}

.info-form h2 {
  padding: 0;
  margin-bottom: 2%;
  text-align: center;
}

.form-container {
  width: 90%;
  max-width: 420px;
  background: lightgray;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.form-container h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: var(--fs-200);
  color: black;
}

.form-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid rgb(201, 199, 199);
  background: rgb(201, 199, 199);
  font-size: var(--fs-200);
  transition: 0.2s;
}

.form-group input:focus {
  border-color: var(--primary--clr);
  outline: none;
  background: white;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: var(--primary--clr);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-200);
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar:hover {
  background: #962e22;
}

hr{
  margin: 3vh;
  width: 80%;
}