.header {
  padding: 0.5rem 0rem;
  width: 100%;
  border-bottom: solid 2px var(--primary--clr);
  font-size: 20px;
  font-weight: bold;
  z-index: 999;
  position: fixed;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header .logo img {
  height: 70px;
  width: auto;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.menu-hamburguesa {
  display: none;

  &:checked + .ul-links {
    height: calc(100vh - 80px);
  }
}

.navbar {
  height: 100%;
  display: flex;
  width: min(1200px, 100%);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 30px;
}

.list-icon {
  color: var(--primary--clr);
  cursor: pointer;
}

.ul-links {
  width: 100%;
  position: absolute;
  top: 87px;
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(8px);

  transition: all 0.3s;
}

.links {
  font-size: 3em;
  color: var(--primary--clr);

  &:hover,
  &:focus {
    color: var(--primary--clr-o);
    border-radius: 15px;
    padding: 0 8px;
  }
}

@media (min-width: 768px) {
  .label-hamburguesa {
    display: none;
  }

  .ul-links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1rem;
    background: none;
  }

  .links {
    font-size: 1.2rem;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: hsl(from var(--primary--clr) h s l / 0.2);
      border-radius: 15px;
      padding: 0 8px;
    }
  }
}
