.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  border-bottom: solid 1px rgb(183, 49, 44);
  font-size: 20px;
  font-weight: bold;
}

.header .logo img {
  height: 70px;
  width: auto;
}

.test {
  display: flex;
  color: rgb(183, 49, 44);
}

.test .test2 {
  display: flex;
  gap: 20px;
  list-style: none;
}

.test .test2 li {
  cursor: pointer;
  transition: 0.2s;
}

.test .test2 li:hover {
  color: rgb(146, 22, 18);
}
