.hero {
  height: 100vh;
  position: relative;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/Foto1.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  & h1 {
    font-size: var(--fs-900);
    width: 80%;
  }

  & .hero-info {
    font-size: var(--fs-500);
    font-weight: 300;
    width: 80%;
  }

  & .fecha {
    font-size: var(--fs-700);
    font-weight: 900;
  }
}

.inscripcion-btn {
  background-color: var(--primary--clr);
  color: var(--text-clr);
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 30px;
  box-shadow: rgb(0, 0, 0, 0.2) 5px 5px 10px;
}

.inscripcion-btn:hover {
  background-color: var(--primary--clr-o);
}

@media (max-width: 950px) {
  .titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    & h1 {
      font-size: var(--fs-700);
      width: 80%;
    }

    & .hero-info {
      font-size: var(--fs-300);
      font-weight: 300;
      width: 80%;
    }

    & .fecha {
      font-size: var( --fs-400);
      font-weight: 900;
    }
  }

  .inscripcion-btn {
    border-radius: 20px;
    border: none;
    padding: 15px;
    font-size: var(--fs-300);
  }
}
