.hero {
  height: 100vh;
  position: relative;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
  padding-top: 90px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:before {
    background-image: url("../assets/Foto1.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  & h2 {
    font-size: var(--fs-700);
    width: 80%;
  }

  & .hero-info {
    font-size: var(--fs-600);
    font-weight: 300;
    width: 80%;
  }

  & .fecha {
    font-size: var(--fs-500);
    font-weight: 900;
  }
}

.inscripcion-btn {
  background-color: var(--primary--clr);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  font-size: 30px;

  &:hover {
    background-color: var(--primary--clr-o);
  }

  a {
    color: var(--text-clr);
    text-decoration: none;
  }
}

@media (max-width: 950px) {
  .titulos {
    & h2 {
      font-size: var(--fs-700);
    }

    & .hero-info {
      font-size: var(--fs-300);
      font-weight: 300;
    }

    & .fecha {
      font-size: var(--fs-400);
      font-weight: 900;
    }
  }

  .inscripcion-btn {
    padding: 15px;
    font-size: var(--fs-300);
  }
}

@media (max-width: 550px) {
  .titulos {
    & h2 {
      font-size: var(--fs-500);
      width: 95%;
    }

    & .hero-info {
      font-size: var(--fs-200);
      font-weight: 300;
      width: 90%;
    }

    & .fecha {
      font-size: var(--fs-300);
      font-weight: 900;
    }
  }

  .inscripcion-btn {
    padding: 10px;
    font-size: var(--fs-200);
  }
}
