.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info p {
  font-size: var(--fs-500);
  width: 70%;
  text-align: center;
}

.info hr {
  width: 80%;
  margin: 2vh;
}

.separadorEnt{
  display: none;
}

.separadorMed {
  width: 95vw;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .info {
    gap: 15px;
  }

  .info .fediap{
    width: 60%;
  }

  .info p {
    width: 80%;
    font-size: var(--fs-300); 
  }

  .info hr {
    width: 70%;
    margin: 2vh auto;
  }

  .separadorMed {
    width: 90vw; /
  }
}


