.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info p {
  font-size: var(--fs-300);
  width: 70%;
  text-align: center;
}

.fediap{
  width: 90vw;
}

.info hr {
  width: 80%;
  margin: 2vh;
}

.separadorEnt{
  display: none;
}

.separadorMed {
  width: 95vw;
}


