.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 10vh;
}

.info p {
  font-size: var(--fs-600);
  width: 60%;
  text-align: center;
}

.info hr {
  width: 80%;
}

.separador {
  width: 90vw;
}
