.ediciones-contacto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  padding-left: 6%;
}

.ediciones h3,
.contacto h3 {
  color: var(--primary--clr);
  font-size: 1.25rem;
  margin-bottom: 0.4rem;
}

.ediciones p {
  margin: 0 0 0.4rem 0;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.ediciones span {
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}

.ediciones a {
  display: block;
  color: blue;
  text-decoration: none;
  margin-bottom: 0.2rem;
}

.ediciones a:hover {
  text-decoration: underline;
}

.contacto p {
  margin-bottom: 0.7rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.contact-item a {
  color: #333;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}
