.speakers-section {
  width: 100%;
  padding: 10px 10px;
  text-align: center;
}

.speakers-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: black;
}

.speakers-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
}

.speakers-card {
  width: 80%;
  background: lightcoral;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

.foto-placeholder {
  width: 100%;
  height: 200px;
  background: lightgray;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-placeholder i {
  font-size: 40px;
  color: var(--primary--clr); 
}

.speakers-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}

.speakers-card p {
  font-size: 14px;
  color: black;
}
